/*
 * Copyright (C) 2015 Nicolas Grandjean <nicolas@microniko.net>
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Coucou
 */


html {
background-color: #E6E6E6;
}
body{
    margin: 2em 10em;
}

ul {
    list-style-type: none;
}
ul li:before{
	content: "» ";
}

ul li p, dd p{
    display:inline;
}
dt {
    font-weight:bold;
}
h1{
    margin-left:-2em;
    font-size:1em;
    font-family: sans-serif;
}

img {
    margin-left:auto;
    margin-right: auto;
}

h2 {
    margin-left:-1.5em;
    font-size:0.8em;
    font-family:sans-serif;
}
h1.title {
    background-color: #804880;
    box-shadow: 0px 0 2em #E6E6E6 inset;
    text-align:center;
    border: 1px solid #F5843D;
    border-radius: 5px;
    font-size:150%;
  }


a.footnoteRef sup{
  font-family:sans-serif;
font-size:70%;
color:green;
}
a.footnoteRef{
text-decoration:none;
}

h1#informations ~ p {
    font-size: 70%;
}

section.footnotes {
    margin-left:-1em;
    font-size: 80%;
}
